/* Styles for the standard dropdown menus.

------------------------------------------------------- */

#main_menu { padding: 0 0.5em; float: left; margin: 0; width: 98%; }

.dropmenu, .dropmenu ul { list-style: none; line-height: 1em; padding: 0; margin: 0;}

.dropmenu { padding: 0 0.5em;
  a { display: block; color:$black; text-decoration: none;
    span { display: block; padding: 0 0 0 5px; font-size: 0.9em; }
  }
  > li {
    > a { padding: 0.5em 0; width:9.7em; color:$black; border:1px solid $border; border-right:none; }
    &:last-child a { border-right: 1px solid $border; }
  }
  li { float: left; padding: 0; margin: 0; position: relative;
    ul { z-index: 90; position: absolute; width: 19.2em; border: 1px solid $border; border-top:none; background:$white; @include flex-container(); display: none;
      a { color:$black; }
      ul { background:lighten($border,20%); border-top:1px solid $border; }
    }
    li { float: none; @include flex-item(50%,0);
      a span { display: block; padding: 8px; }
    }
    a:hover { background-color:$border; text-decoration: none; }
    a.chosen, a.active { background:$black; color:$white; font-weight: $bold; }
  }
}

.dropmenu li:hover ul ul, .dropmenu li:hover ul ul ul

{

  top: -999em;

}

.dropmenu li li:hover ul

{

  top: auto;

}

.dropmenu li:hover ul

{

  display: flex;

}