/* Styles for the login areas.

------------------------------------------------------- */


.login { width:400px; max-width: 100%; margin: 0 auto;
  h2 { text-align: center; margin-bottom: 0.25em; }
  input {
    &[type=text], &[type=password], &[type=number] { display: block; width: 100%; font-size:22px; height: 40px; font-family:'Droid Sans', sans-serif; text-align:center; border:2px solid $black;
      &:not([disabled]) {
        &:hover, &:focus { background-color:rgba($yellow,0.5); }
      }
    }
    &[name="user"] { border-bottom: none; }
    //&[type=checkbox] { height: 6.5vh; width: 100%; padding: 0; margin: 0; }
    &.openid_login { background-image: url(../svg/openid-logo.svg); background-position: 6px center; background-size: 28px; background-repeat: no-repeat; padding-left:0; }
  }
  p { text-align: center; }
  table { width:100%; }
  .half { width:49%; text-align: center; vertical-align: middle;
    label { display: block; text-align: center; }
  }
  
  .logged-in-for { margin: 0; }
  .number-holder {
    input { max-width: 3em; height: 36px; margin-left: auto; margin-right: auto; border:2px solid currentColor; }
  }
  .checkbox-holder {
    input { display: none; }
    svg { width:40px; cursor: pointer; }
    .check { opacity: 0; transform: scale(2); transition: all 0.3s ease; transform-origin: center; }
    .box { opacity: 0; fill:$yellow; }
    label:hover {
      .box { opacity: 1; }
    }
    input:checked {
      ~ svg .check { opacity: 1; transform: scale(1); }
    }
  }
  .button_submit { font-size: 160%; width: 100%; margin-bottom: 10px; }
}
