// Write Post
#post_header, .postbox {  position: relative; margin-bottom: 2em;

  dt { @include position(absolute,5px,null,null,0); }
  dd {  padding-left: 3em;
    input { font-size:1.4em; border-left:none; border-top:none; border-right: none; width:100%; background-color: transparent; border-color:$border;
      &:hover, &:focus { outline: none; border-color:$blue; }
    }
  }
}

textarea.editor { padding:20px; background:white; width:100%; border-color:$border; 
  &:hover, &:focus { outline: none; border-color:$blue; }
}



// COMPOSE POLL
dl.poll_main, dl.poll_settings { display: grid; grid-template-columns: 150px 1fr;
  dt { text-align: right;
    label { text-transform: lowercase; letter-spacing: 0.1em; }
  }
  dd {
    input { border:none; border-bottom: 1px solid $border;
      &:hover, &:focus { outline: none; border-color:$blue; }
    }
  }
  &.poll_question {
    label, input { font-size:135%; }
  }
  &.poll_options {
    label, input { font-size:115%; }
  }
  button.button.add { background:transparent; color:$green; border:1px solid currentColor; cursor: pointer; padding: 0.7em 1.5em;
    &:hover, &:focus, &:active { background:$green; color:$white; }
  }
}

dl.poll_main {
  dd {
    input { width:100%; display: block; }
  }
}
dl.poll_settings {
  dt, dd { margin-bottom: 10px; }
}

/*
dl.poll_settings { display: grid; grid-template-columns:150px 1fr;
  dt, dd { margin: 0 0 10px 0; }
}
*/





/* Poll question */
.poll { overflow: hidden;
  .content { padding: 0; }
  h4 { text-transform: uppercase; font-size:152%; letter-spacing: 0.1em; margin-bottom: 0.5em; }
  ul.options { margin-bottom: 1em;
    li { font-size:130%; margin-bottom: 0.25em;
      &:hover { color:$accent; }
      label { cursor: pointer; }
    }
  }
  div.submitbutton { border-bottom: 1px solid $grey; clear: both; padding: 0 0 1em 2em; margin: 0 0 1em 0; }
  dl.options { @include flex-container();
    dt { @include flex-item(30%); font-size:130%; margin: 0 0 6px; border-bottom:1px dotted #aaa; }
    dd { @include flex-item(60%); margin: 0 0 6px; }
    dt.voted { font-weight: bold;
      &:after { content: '✔️'; }
    }
    dd.statsbar:hover { color:$accent;
      .bar { background:$accent; }
    }
  }
  .bar-outside { background-color:$grey; width:100%; height: 1.6rem; position: relative;
    .bar-inside { background-color:#444; position: absolute; top:0; bottom:0; left: 0; }
    .percentage { display: block; position: relative; padding-left: 0.25em; padding-top: 0.25em; color:$white; text-shadow: 1px 1px 1px #444; }
  }
  dl.options {
    dt:hover { color:$accent;
      + dd .bar-inside { background-color:$accent; }
    }
    dd:hover {
      .bar-inside { background-color:$accent; }
    }
  }
}






@media only screen and (min-width: 768px) {
  .poll { padding-left: 160px; }
  #pollmoderation { padding-left: 160px;
    ul { padding-left: 0; }
  }
}