// USER PROFILE PAGE


#profileview { @include flex-container();
  .cat_bar { @include flex-item(100%); }
  .basic-info { @include flex-item(180px,0,0);
    span.position { display: block; font-size:80%; }
    .actions { padding-left: 0;
      li { display: block; margin-bottom: 0.5em;
        a { color:$blue;
          &.action-color { color:$red; }
        }
      }
    }
  }
  .user-details { @include flex-item(calc(100% - 200px));
    dl { @include flex-container();
      dt, dd { margin: 0.45em 0; border-bottom: 1px solid rgba($black,0.3); }
      dt { @include flex-item(8em); text-align: right; font-weight: $bold;   }
      dd { @include flex-item(calc(100% - 10em)); padding: 0 0 0 1em; }
      svg { width: 1em; height: 1em; }
    }
  }
}



// PROFILE SETTINGS 
.content.profile-fields { display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fill,280px);
  hr { grid-column: -1 / 1; opacity: 0.1; display: none; }
}
.profile-field { border:1px solid $border;
  dt { border-bottom: 1px solid #777; padding: 10px 20px;}
  dd { margin: 0; padding: 10px 20px;
    input, select { display:block; width:100%; padding: 0.35em 0.75em; }
    ul.checkboxes { padding: 0;
      li { list-style: none; }
      input { display: inline-block; width: auto; margin-right: 10px; }
    }
    .birthdate { display: grid; grid-template-columns: 2fr 1fr 1fr; grid-gap: 10px; }
    .karma-field { display: grid; grid-template-columns: 46px 1fr; }
  }
  &[begin="hidden"] { display: none; }
  &.save-profile {
    dd { width:100%; }
    input, button { padding:1em 2em; }
  }
}
ul.theme-settings {  padding: 0; grid-column: -1 / 1; display: grid; grid-template-columns: repeat(auto-fill,280px); grid-gap: 10px;
  li { list-style: none; border: 1px solid #777; padding:10px; }
}


#detailedinfo {
  h4 { font-size: 135%; font-weight: 100; line-height: 105%; white-space: pre-wrap; overflow: hidden; }
  ul { list-style-type: none; margin: 10px 0 0 0;
    li { display: block; float: left; margin-right: 5px; }
  }
  span#userstatus { display: block; clear: both;
    img { vertical-align: middle; }
  }
}



// USER STATS

.user-stats { @include flex-container();
  > * { margin-bottom: 1em; }
  .general-stats { @include flex-item(440px); }
  .activity-time { @include flex-item(880px); }
  .most-popular { @include flex-item(440px); }
  h3 { font-size:145%; text-transform: uppercase; letter-spacing: 0.1em;
    .icon { margin-right: 1rem; }
  }
}

.general-stats {
  .content {
    dl { @include flex-container(); }
    dt { @include flex-item(60%); margin: 0 0 1em; border-bottom:1px dotted #aaa; }
    dd { @include flex-item(40%); margin: 0 0 1em; }
  }
}


/* Activity by time */

.activity_stats { margin: 0; padding: 0; list-style: none;
  li { margin: 0; padding: 0; width: 4.16%; float: left;
    span { display: block; border: solid $black; border-width: 1px 1px 0 0; text-align: center; }
    &.last span { border-right: none; }
    .bar { margin: 0 auto; width:calc(100% - 2px); position: relative; height: 200px;
      div { background: #444; position: absolute; right:0; bottom:0; left: 0; }
      span { position: absolute; top: -1000em; left: -1000em; }
    }
    &:hover {
      span { color:$accent; }
      .bar div { background:$accent; }
    } 
  }
}

// SUBSCRIPTION
.subscription-details { @include flex-container(); 
  .description { @include flex-item(calc(100% - 200px));
    p { margin-top: 0; }
  }
  .button-holder { @include flex-item(200px);
    button { font-size:130%; }
  }
}

@media only screen and (max-width: 810px) {
  .activity_stats { 
    li { position: relative;
      .stats_hour { display: none; border:none; }
      &:first-child {
        .stats_hour { display: block; position: absolute; left:0; bottom: 0; color:#FFF; background:rgba($black,0.75); padding:0.25em; z-index:12; font-size:105%; }
      }
      &:last-child {
        .stats_hour { display: block; position: absolute; right:0; bottom: 0; color:#FFF; background:rgba($black,0.75); padding:0.25em; z-index:13; font-size:105%; }
      }
    }
  }
}

.most-popular {
  .content {
    dl { @include flex-container(); }
    dt { @include flex-item(60%); padding: 0; margin: 0 0 0.4em; font-weight: bold; border-bottom:1px dotted #aaa; }
    dd {  @include flex-item(30%); margin: 0 0 0.4em; }
  }
  .profile_pie { background-image: url(../images/stats_pie.png); float: left; height: 20px; width: 20px; margin: 0 1em 0 0; padding: 0; }
  .percent-bar { background-color:$grey; width:100%; height: 1.6rem; position: relative;
    .inside { background-color:#444; position: absolute; top:0; bottom:0; left: 0; }
    span { display: block; position: relative; padding-left: 0.25em; padding-top: 0.25em; color:$white; text-shadow: 1px 1px 1px #444; }
    svg { width: 0.95em; height: 0.95em; transform: translateY(20%); }
  }
  
}