.recent-posts {
  .single-post { @include flex-container(); @extend %postDiv; }
  .post-summary { @include flex-item(160px);
    .count, .day, .time { display: block; }
    .count { font-size:35px; line-height: 45px; }
    .poster { font-size:130%; }
  }
  .postarea { @include flex-item(calc(100% - 160px));
    .board { display: block; }
    .quickbuttons { font-size:0.65em; }
  }
  img { max-width: 100%; }
}