// FONTS
$font:'Cabin', sans-serif;
$monotype: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
$medium:400;
$bold:700;

//COLORS 
$green: #0f9d58;
$red: #e04a3f;
$blue: #4a8bf5;
$black: rgb(3, 3, 3);
$grey:#bbb;
$white: #f9f9f9;
$yellow: #f1f1a0;
$teal: #0d846d;
  
  // COLOR FUNCTIONS
  $body: $white;
  $border:$grey;
  $accent:$teal;
