extends _layout.pug

block header
  tr
    td(bgcolor='#ffffff' width='100' align='left' style="padding-top:30px;")
      +image("snake_header.png","ballp.it snake",600,130)
      
      
block content
  +textRow(2)
    b Hi, it's Lemon.
  +textRow(1)
    p I dunno if you've been on ballp.it lately, but we've changed some stuff. For example, 
      +textLink("https://ballp.it/index.php?action=profile;u=6", "Boots Raingear")
      | 's avatar is randomly generated, but we've improved that by adjusting the server settings to make sure that you see a fresh and new Boots Raingear 
      i every five minutes
      | . Yes, 
      b we spent time on this.
      |  Also, I've redesigned the 
      +textLink("https://ballp.it/index.php?action=stats", "board stats")
      |  and 
      +textLink("https://ballp.it/index.php?action=profile;u=3694", "user profile")
      |  pages, and allowed 
      +textLink("https://ballp.it/index.php?topic=2603.0", "embedded tweets")
      | .
  +textRow(1)
    br 
    p So if it's been a while since your last time in the ball pit, maybe you should come on back and have some fun with us, in threads like..
    ul
      li
        +textLink("https://ballp.it/index.php?topic=2587", "Obtuse Stock Photos - WHO IS THIS FOR!?")
      li
        +textLink("https://ballp.it/index.php?topic=1675.0", "Cooking Disasters")
      li
        +textLink("https://ballp.it/index.php?topic=2510.0", "(this is a general purpose juggalo news and gossip thread)")
  +textRow(1)
    p Up to you though. If you felt this email was annoying, you can opt out of them in your 
      +textLink("https://ballp.it/index.php?action=profile;area=notification;", "notification settings")
      | .
    p But if you were hoping for one more piece of encouragement to 
      b pay the $10 for a full account 
      | (and I wish you would), maybe this button will convince you.
      +button("https://ballp.it/index.php?action=profile;area=subscriptions", "CLICK THIS BUTTON TO PAY $10")