extends _layout.pug

block header
  tr
    td(bgcolor='#ffffff' width='100' align='left' style="padding-top:30px;")
      +image("snake_header.png","ballp.it snake",600,130)
      
      
block content
  +textRow(2)
    b Hi, it's Lemon.
  +textRow(1)
    p 
      a(href="https://thefpl.us/wrote/f-plus-live-6") F Plus Live
      |  is coming up on 
      b August 19th
      | , and I told myself I'd try to send these emails to unpaid ballp.it members about once a month. Hopefully they're interesting. If not, you can unsubscribe in your 
      +textLink("https://ballp.it/index.php?action=profile;area=notification;", "notification settings")
      | .
    p Over the last month, Boots did some updates to the forum software to pull the most viewed posts for users. So, for example, we know that 
      a(href="https://ballp.it/index.php?action=profile;area=statistics;u=23") Montrith
      |  has received twice as many bulbs as she's given, and that the best thing she's ever said was that she didn't watch a Milo Yiannapolis video.
  +textRow(1)
    p Aside from all that, here's some threads I've enjoyed recently...
    ul
      li
        +textLink("https://ballp.it/index.php?topic=2500", "Finding fun in DeviantArt without looking at gross stuff?")
      li
        +textLink("https://ballp.it/index.php?topic=2072.0", "Completely pointless Thought Of The Day thread")
      li
        +textLink("https://ballp.it/index.php?topic=618", "Let's give Lemon an aneurysm")
  +textRow(1)
    p And this is all stuff you could be participating in with a paid subscription.
    +button("https://ballp.it/index.php?action=profile;area=subscriptions", "FUCK YEAH, HERE'S TEN BUCKS")